<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HYDROCALCULATOR</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="bg-dark">
<div class="wrapper">
    <header th:fragment="nav">
        <nav class="main-nav text-warning">
            <ul>
                <th:block>
                    <li>
                        <a sec:authorize="!isAuthenticated()" class="bg-info text-white" href="/">НАЧАЛО</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" class="bg-info text-warning" th:href="@{/users/register}">РЕГИСТРИРАЙ СЕ</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" class="bg-info text-warning"
                           th:href="@{/users/login}">ВХОД</a>
                    </li>
                    <li>
                        <a sec:authorize="!isAuthenticated()" class="bg-info text-white" th:href="@{/calc-pipe-DI}">ПО ВЪТРЕШЕН ДИАМЕТЪР</a>
                    </li>
                </th:block>
            </ul>

            <ul>
                <th:block sec:authorize="isAuthenticated()">
                    <li>
                        <a class="bg-info text-white" th:href="@{/calc-pipe-DI}">Вътрешен диаметър</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" th:href="@{/calc-pipe-PE}">PE</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" th:href="@{/calc-pipe-PVC-O}" >PVC-O</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">PP</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">СТЪКЛОПЛАСТОВИ</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">ЧУГУНЕНИ</a>
                    </li>

                    <li>
                        <a class="bg-info text-white"
                           th:href="@{/logout-page}">ИЗХОД</a>
                    </li>
                </th:block>

                <th:block sec:authorize="hasRole('ADMIN')">
                    <li>
                        <a class="bg-info text-white" th:href="@{/pipes/edit-di}">Редактирай DI</a>
                    </li>

                    <li>
                        <a class="bg-info text-white" th:href="@{/users/edit}">Редактирай потребител</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">Изтрий потребител</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">Браузинг история</a>
                    </li>
                    <li>
                        <a class="bg-info text-white" href="/">Отзиви</a>
                    </li>
                </th:block>

            </ul>
        </nav>
    </header>
</div>

<button th:fragment="CALCULATE" type="submit" class="btn btn-dark text-info bg-dark w-20 mb-5 border border-info">ИЗЧИСЛИ</button>

<a th:fragment="calculateAgain" class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-3 border border-warning"
   href="/calc-pipe-DI"
   role="button">ИЗЧИСЛИ ОТНОВО</a>

<a th:fragment="toMyEquations" class="btn btn-dark btn-block btn-info bg-dark text-warning align-content-center mt-3 border border-warning"
   th:href="@{/my-calculations}"
   role="button">МОИТЕ ИЗЧИСЛЕНИЯ</a>

<a th:fragment="toHomePage" class="btn btn-dark btn-block btn-info bg-dark text-warning align-content-center mt-3 border border-warning" href="/"
   role="button">НАЧАЛО</a>


<footer th:fragment="footer" class="footer bg-blur rounded bg-dark mt-5">
    <div class="container-fluid text-center">
        <div class="h5 text-info bg-dark">
            <p><img class="logo align-content-center" width="35px" height="35px" src="/images/myLogo.png" alt=""></p>
            ХИДРОКАЛКУЛАТОР 2022
        </div>
    </div>
</footer>

</body>
</html>
