<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<main>
    <div class="wrapper">
        <!-- Navigation -->
        <div>

        </div>
        <div>
            <div class="justify-content-center">
                <img width="5000"  src="/images/theory.JPG"
                     class="rounded justify-content-center float-none" alt="">
            </div>
        </div>
        <div>

        </div>

    </div>
    <a th:replace="fragments/commons::toHomePage"></a>
</main>

</body>

<footer th:replace="fragments/commons::footer">
</footer>
</html>