<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head"></head>
<body class="bg-dark">
<div class="wrapper">
    <header th:replace="fragments/commons::nav"></header>
    <section class="top-container">
        <a th:fragment="welcome" class="site-header text-warning mb-0">
            <h4 sec:authorize="!isAuthenticated()">ДОБРЕ ДОШЪЛ В ХИДРОКАЛКУЛАТОР!</h4>
            <h4 sec:authorize="isAuthenticated()">Здравей,
                <th:block sec:authentication="name"></th:block>
                !
            </h4>
        </a>
    </section>

    <section class="boxes mt-0 mb-0">
        <a th:href="@{/my-calculations}" class="main-btn bg-dark text-info" sec:authorize="isAuthenticated()">
            <div class="box bg-dark">
                <img src="/images/hydricalclogo.jpg" height="150px" alt="">
                <h4>Моите изчисления</h4>
            </div>
        </a>
        <a href="/" class="main-btn bg-dark text-info" sec:authorize="!isAuthenticated()">
            <div class="box bg-dark text-info">
                <img src="/images/hydricalclogo.jpg" height="150px" alt="">
                <h4>Как работи Хидрокалкулатор?</h4>
            </div>
        </a>
    </section>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
