<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">

    <div th:each="mc : ${myCalculations}" th:object="${mc}" class="container align-content-center bg-dark p-2 mt-0">
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
<!--                private double lossesPerMeter;-->
<!--                private double totalLosses;-->
<!--                private boolean velocityHigh;-->
<!--                private boolean velocityLow;-->
<!--                private boolean canDelete;-->
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|Q = *{flowInLitersPerSecond} l/s:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|DN*{pipeNominalDiameter}:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|PN*{nominalPressure}:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|DI = *{pipeInternalDiameter}:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|L = *{pipeTotalLength}:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|PN: *{pipeInternalDiameter}:|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|V = *{velocityInMetersPerSecond} m/s|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|k = *{roughnessHeightInMm} mm|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|i = *{lossesPerMeter} m/m|"></span></div>
                <br>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|Hзаг = *{totalLosses} m|"></span></div>
                <br>


                <!--                <div class="card-text bg-dark text-info"><span-->
                <!--                        th:text="|If you book for more than: *{stay} days,-->
                <!--                        you get a discount of *{#numbers.formatDecimal(discount, 1, 0)}% from the total sum.|">Discount</span>-->
                <!--                </div>-->
                <!--                <div class="card-text bg-dark text-info"><span th:text="|If you have more than 3 bookings in our hotel so far,-->
                <!--                 you become a vip customer and no matter how long you will stay, you get a discount of *{#numbers.formatDecimal(vipDiscount, 1,0)}% from the total sum.|">vip Discount</span>-->
                <!--                </div><br>-->
                <!--                <div class="card-text bg-dark text-info"><span-->
                <!--                        th:text="|Additionl notes:|">description</span></div>-->
                <!--                <div class="card-text bg-dark text-info"><span-->
                <!--                        th:text="|*{description}|">description</span></div>-->
            </li>
        </div>
        <th:block th:if="*{canDelete}">
            <form th:action="@{/my-calculations/remove/{id}(id = *{id})}" th:method="delete"><input
                    class="nav-link text-danger bg-dark" type="submit" value="REMOVE!">
            </form>
        </th:block>

    </div>


    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5 border-warning"
       href="/calc-pipe-DI"
       role="button">ИЗЧИСЛИ ОТНОВО</a>

    <a class="btn btn-dark btn-block btn-info bg-dark text-warning align-content-center mt-5 border-info" href="/"
       role="button">НАЧАЛНА СТРАНИЦА</a>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>