<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>
<body class="bg-dark">
<!--<header th:replace="fragments/commons::nav"></header>-->
<main role="main " class="bg-dark">

    <h5 class="border-bottom border-warning mb-5 text-warning">Изчисляване по вътрешен диаметър.</h5>


    <div class="container bg-dark rounded p-0 mt-0 w-75">
        <form
                th:action="@{/calc-pipe-DI/post}"
                th:object="${pipeDIBindingModel}"
                th:method="POST"
                class=" text-center text-light">

            <!--            <h3 th:if="${standardDiscountBiggerThanVip} == true" class="mt-5 text-center">-->
            <!--                <strong class="bg-blur rounded text-danger">-->
            <!--                    Standard discount should be lesser than vips! </strong>-->
            <!--            </h3>-->
            <!--            private double flowInLitersPerSeconds;-->
            <!--            private double DI;-->
            <!--            private double length;-->
            <!--            private double roughnessHeightInMm;-->

            <div class="form-group row text-info">
                <label for="flow" class="col-sm-2 col-form-label">Водно количество, l/s</label>
                <div class="col-sm-10">
                    <input
                            th:field="*{flowInLitersPerSeconds}"
                            th:errorclass="is-invalid"
                            type="text" class="form-control" id="flow"
                            aria-describedby="nameHelpInline" placeholder="Водно количество">
                    <small id="flowHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Водното количество трябва да е по-голямо от нула.
                    </small>
                </div>
            </div>

            <div class="form-group row text-info">
                <label for="di" class="col-sm-2 col-form-label">Вътрешен диаметър, mm</label>
                <div class="col-sm-10">
                    <input
                            th:field="*{DI}"
                            th:errorclass="is-invalid"
                            type="text" class="form-control" id="di"
                            aria-describedby="nameHelpInline" placeholder="Вътрешен диаметър">
                    <small id="diHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Вътрешният диаметър трябва да е по-голям от нула.
                    </small>
                </div>
            </div>

            <div class="form-group row text-info">
                <label for="length" class="col-sm-2 col-form-label">Дължина, m</label>
                <div class="col-sm-10">
                    <input
                            th:field="*{length}"
                            th:errorclass="is-invalid"
                            type="text" class="form-control" id="length"
                            aria-describedby="nameHelpInline" placeholder="Дължина">
                    <small id="lengthHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Дължината трябва да е по-голяма от нула.
                    </small>
                </div>
            </div>

            <div class="form-group row text-info">
                <label for="roughnessHeightInMm" class="col-sm-2 col-form-label">Грапавина, mm</label>
                <div class="col-sm-10">
                    <textarea th:field="*{roughnessHeightInMm}"
                              th:errorclass="is-invalid"
                              class="form-control" id="roughnessHeightInMm"
                              aria-describedby="roughnessHeightInMmHelpInline" placeholder="Грапавина">
                    </textarea>
                    <small id="descriptionHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Грапавината трябва да е по-голяма от нула.
                    </small>
                </div>
            </div>

            <div class="form-group row text-info">
                <label for="waterTemp" class="col-sm-2 col-form-label">Температура на водата</label>
                <div class="col-sm-10">
                    <select
                            th:field="*{temperature}"
                            th:errorclass="is-invalid"
                            id="waterTemp" name="waterTemp" class="custom-select"
                            aria-describedby="categoryHelpInline">
                        <option value="" selected>Tемпература на водата</option>
                        <option
                                th:each="t:${waterTemperatures}"
                                th:value="${t}"
                                th:text="${t}"
                                value="">T
                        </option>
                    </select>
                    <small id="waterTempHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Избери температура на водата.
                    </small>
                </div>
            </div>

            <button th:replace="fragments/commons::CALCULATE">ИЗЧИСЛИ</button>

        </form>

    </div>

    <th:block sec:authorize="isAuthenticated()">
        <a th:replace="fragments/commons::toMyEquations"></a>
    </th:block>

    <a th:replace="fragments/commons::toHomePage"></a>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>