<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>
<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>
<main role="main " class="bg-dark">


    <div class="container bg-dark rounded p-0 mt-0 w-75">
        <form
                th:action="@{/pipes/edit-di}"
                th:object="${pipeEditInternalDiameterBindingModel}"
                th:method="POST"
                class=" text-center text-light">


            <div class="form-group row text-info">
                <label for="DI" class="col-sm-2 col-form-label">DI, mm</label>
                <div class="col-sm-10">
                    <input
                            th:field="*{DI}"
                            th:errorclass="is-invalid"
                            type="text" class="form-control" id="DI"
                            aria-describedby="nameHelpInline" placeholder="Вътрешен диаметър">
                    <small id="diHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Вътрешният диаметър трябва да е по-голям от нула.
                    </small>
                </div>
            </div>


            <div class="form-group row text-info">
                <label for="pn" class="col-sm-2 col-form-label">PN</label>
                <div class="col-sm-10">
                    <select
                            th:field="*{PN}"
                            th:errorclass="is-invalid"
                            id="pn" name="PN" class="custom-select"
                            aria-describedby="categoryHelpInline">
                        <option value="" selected>PN</option>
                        <option
                                th:each="PN:${T(com.example.hydrocalc.model.enums.NominalPressure).values()}"
                                th:value="${PN}"
                                th:text="${PN}"
                                value="">PN
                        </option>
                    </select>
                    <small id="pnHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Избери PN.
                    </small>
                </div>
            </div>

            <div class="form-group row text-info">
                <label for="pn" class="col-sm-2 col-form-label">PN</label>
                <div class="col-sm-10">
                    <select
                            th:field="*{DN}"
                            th:errorclass="is-invalid"
                            id="dn" name="PN" class="custom-select"
                            aria-describedby="categoryHelpInline">
                        <option value="" selected>DN</option>
                        <option
                                th:each="DN:${T(com.example.hydrocalc.model.enums.NominalDiametersEnum).values()}"
                                th:value="${DN}"
                                th:text="${DN}"
                                value="">Nominal diameter
                        </option>
                    </select>
                    <small id="dnHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Избери DN.
                    </small>
                </div>
            </div>



            <div class="form-group row text-info">
                <label for="pm" class="col-sm-2 col-form-label">Материал на тръбата</label>
                <div class="col-sm-10">
                    <select
                            th:field="*{pipeMaterial}"
                            th:errorclass="is-invalid"
                            id="pm" name="pm" class="custom-select"
                            aria-describedby="categoryHelpInline">
                        <option value="" selected>Материал на тръбата</option>
                        <option
                                th:each="pm:${T(com.example.hydrocalc.model.enums.PipeMaterialsEnum).values()}"
                                th:value="${pm}"
                                th:text="${pm}"
                                value="">Материал на тръбата
                        </option>
                    </select>
                    <small id="pmHelpInline" class="invalid-feedback bg-danger text-light rounded">
                        Избери материал на тръбата.
                    </small>
                </div>
            </div>

            <button type="submit" class="btn btn-dark text-info bg-dark w-20 mb-5 border border-info">РЕДАКТИРАЙ DI</button>

        </form>

    </div>

    <th:block sec:authorize="isAuthenticated()">
        <a th:replace="fragments/commons::toMyEquations"></a>
    </th:block>

    <a th:replace="fragments/commons::toHomePage"></a>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>