<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head"></head>

<body class="bg-dark">

<main role="main" class="bg-dark">

    <div th:each="u: ${usersWhoBrowsed}" class="container align-content-center text-warning bg-dark p-0 mt-0">
        <div class="row align-content-center bg-dark">
            <h6>
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="${u.toString()}"></span>
                </div>
            </h6>
        </div>
    </div>

    <a th:replace="fragments/commons::toHomePage"></a>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>