<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<main class="p-5 align-content-center bg-blur my-register-div">
<!--    <header th:replace="fragments/commons::nav"></header>-->
    <h4 class="border-bottom border-warning text-warning">РЕГИСТРИРАЙ СЕ ТУК!</h4>
    <div class="d-flex justify-content-center text-warning">
        <div class="row g-3">
            <form
                    th:action="@{/users/register/new-user}"
                    th:object="${userRegisterBindingModel}"
                    th:method="POST">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Въведи потребителско име</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               th:field="*{username}"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="10"
                               type="text"
                               id="inputUsername" class="form-control" aria-describedby="usernameHelpInline">
                        <small id="usernameError"
                               class="invalid-feedback bg-danger rounded">Username length must be more than 5
                            characters</small>
                        <small id="usernameUniqueError"
                               class="invalid-feedback bg-danger rounded">Username length must be between 5 and 10
                            characters!
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Парола</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:field="*{password}"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="10"
                               type="password" id="inputPassword" class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 10 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Потвърди парола</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:field="*{confirmPassword}"
                               th:errorclass="is-invalid"
                               required minlength="5" maxlength="10"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 10 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <h4 th:if="${confirmPasswordMatchesPassword} == false" class="mt-5 text-center">
                    <strong class="bg-blur rounded text-danger">
                        Двете пароли не съответстват! </strong>
                </h4>

                <h5 th:if="${occupiedUsername} == true" class="mt-1 text-center">
                    <strong class="bg-blur rounded text-danger">
                        Опитай с друго потребителско име! </strong>
                </h5>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-75 text-warning" type="submit">РЕГИСТРИРАЙ СЕ!</button>
                </div>

            </form>
        </div>
    </div>

    <a th:replace="fragments/commons::toHomePage"></a>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>